@font-face {
	font-family: 'icomoon';
	src: url('fonts/icomoon.ttf');
}


// Base styling for all icons
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: $socials-font-size;
	line-height: $navbar-height;
	color: $socials-font-color;
	padding: 0 10px;
	
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Base styling for individual icons

.icon-twitter:before {
	content: "\e603";
}
.icon-rss:before {
	content: "\e604";
}
.icon-github:before {
	content: "\e605";
}

.icon-mail:before {
	content: "\e600";
}
 
// Base styling for all icons with the :hover psuedoclass
[class^="icon-"], [class*=" icon-"]:hover {
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Colors for individual icons with the :hover psuedoclass
.icon-googleplus:hover {
	color: #dd4b39;
}
.icon-facebook:hover {
	color: #3b5998;
}
.icon-twitter:hover {
	color: #4099FF;
}
.icon-feed:hover {
	color: #ff7900;
}
.icon-github:hover {
	color: #000;
}
.icon-tumblr:hover {
	color: #32506d;
}
.icon-linkedin:hover {
	color: #007bb6;
}